<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="hhtp://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:c="http://www.springframework.org/schema/c"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 
<bean class="com.injection.primitive.constructor.Student" name="student1">
   <constructor-arg>
   		<value>101</value>
   </constructor-arg>
   <constructor-arg>
   		<value>Ajay Ingle</value>
   </constructor-arg>
   <constructor-arg>
   		<value>100</value>
   </constructor-arg>
 </bean>
 <!-- Or-->
 
  <bean class="com.injection.primitive.constructor.Student" name="student2">
   <constructor-arg value="102" />
   <constructor-arg value="Vijay" />
   <constructor-arg value="77" />
 </bean>
  <!-- Or-->
  
<bean class="com.injection.primitive.constructor.Student" name="student3" c:sid="103" c:sname="sonali" c:smarks="66"/>
  
 </beans>