<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="hhtp://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 <bean class="com.injection.reference.setter.Book" name="bref1"  p:bid="101" p:bname="ulman"/>
 <bean class="com.injection.reference.setter.Book" name="bref2"  p:bid="102" p:bname="H.C.Verma"/>
 <bean class="com.injection.reference.setter.Book" name="bref3"  p:bid="103" p:bname="R.D.Sharma"/>
 
 <bean class="com.injection.reference.setter.Exam" name="exam1">
   <property name="ename">
      <value>Complier design</value>
   </property>
   <property name="book">
      <ref bean="bref1"/>
   </property>
 </bean>
 <!-- or -->
 
 <bean class="com.injection.reference.setter.Exam" name="exam2">
 <property name="ename" value="Physics" />
 <property name="book" ref="bref2"/>
 </bean>
  <!-- or -->
 
  <bean class="com.injection.reference.setter.Exam" name="exam3"  p:ename="Higher Maths"  p:book-ref="bref3" /> 
  
 </beans>